/*
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

body{
    background-color: rgba(33,37,41,255);
}

body,h1,h2,h3,h4,h5,hr{
    margin: 0px;
    color: white;
    font-family: "Roboto", sans-serif;
}

h3{
    font-weight: 400;
}

button{
    display: block;
}

main{
    margin: 1rem 20%;
    text-align: center;
}

hr{
    border-color: rgba(31,57,65,255);
    margin: 0.5rem 1rem;

}

section{
    
}


.panel{
    display: flex;
    flex-direction: column;
    background-color: rgba(108,117,125,255);
    gap: 0.5rem;
    width: max-content;
    border-radius: 5px;
    padding: 1rem 3rem;
    margin: 0 auto;
}

input{
    padding: 0.3rem;
    border-radius: 3px;
    border: none;
    text-align: center;
}
select{
    padding: 0.3rem;
    border-radius: 3px;
    border: none;
    text-align: center;
}

button{
    padding: 0.3rem;
    border-radius: 3px;
    border: none;
    text-align: center;
    background-color: rgba(49,210,242,255);
    color: white;
    cursor: pointer;
    font-weight: 700;
}

button:hover{
    background-color: rgba(49,210,242,0.3);
}

button:active{
    border: 1px red solid;
}